name: Build and Push Docker Image

on:
  release:
    types: [published]

env:
  IMAGE_NAME: fragme

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get fRAGme version
        id: fragme_version
        run: |
          pip install .
          echo "FRAGME_VERSION=$(python -c 'import fRAGme; print("v" + fRAGme.__version__)')" >> $GITHUB_ENV
          echo ${{ env.FRAGME_VERSION }}

      - name: Build the Docker image
        run: |
          docker-compose build
          echo ${{ env.FRAGME_VERSION }}
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.FRAGME_VERSION }}

      - name: Push the Docker image
        run: |
            docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.FRAGME_VERSION }}
