name: Build and Push Docker Image

on:
  release:
    types: [published]

env:
  IMAGE_NAME: fragme

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build the Docker image
        run: |
          pip install .
          FRAGME_VERSION=$(python -c 'import fRAGme; print(fRAGme.__version__)')
          echo "FRAGME_VERSION=v$FRAGME_VERSION" >> $GITHUB_ENV
          docker-compose build
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.FRAGME_VERSION }}

      - name: Push the Docker image
        run: |
            docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:latest
            docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.FRAGME_VERSION }}
